{{!-- NAVBAR --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Study Buddy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/#about">About <span class="sr-only">(current)</span></a>
            </li>
            {{#unless authenticated}}
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            {{/unless}}
            {{#if authenticated}}
            <li class="nav-item">
                <a class="nav-link active" href="/user/matches">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/buddylist">Favorites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>


{{!-- TOP MATCHES SECTION --}}
<div class="matchContainer">

    <div class="text-center matchHeader">
        <h5>Based on your survey, here are your</h5>
        <h1>Top Buddies!</h1>
        <br>
    </div>

    {{!-- NEED A #EACH to render these cards, delete dummy code after first one --}}
    <div class="container topMatches">
        {{#each matches}}
        {{!-- bestMatches --}}
        <div class="card matchCard" style="width: 18rem;">
            <img src="{{this.photo}}" class="card-img-top" alt="Match Photo">

            <i data-id="{{this.id}}" id="favorite" class="favoriteButton far fa-star" data-content="Click to favorite this buddy!" rel="popover" data-placement="bottom" data-trigger="hover"></i>

            <div class="card-body cardInfo">
                <p class="card-text cardName"><strong>{{this.first_name}} {{this.last_name}}</strong></p>
                <p class="card-text">Username: {{this.username}}</p>
                <p class="card-text"><a href="mailto:{{this.email}}">Email: {{this.email}}</a></p>
                <p class="card-text">Located: {{this.location}}</p>
            </div>
        </div>
        {{/each}}
        {{#unless matches}}
        <small>Sorry! Looks like we couldn't find a close enough match. Please see other recommended buddies below!</small>
        {{/unless}}


    </div>

</div>


<div class="moreMatchesContainer">

    <div class="text-center matchHeader">
        <h5>Here are a few more buddies to see</h5>
    </div>

    <div class="container moreMatches">
        {{#each addtional}}
        {{!-- additionalMatches --}}
        <div class="card matchCard" style="width: 18rem;">
            <img src="{{this.photo}}" class="card-img-top" alt="Match Photo">

            <i data-id="{{this.id}}" id="favorite" class="favoriteButton far fa-star" data-content="Click to favorite this buddy!" rel="popover" data-placement="bottom" data-trigger="hover"></i>

            <div class="card-body cardInfo">
                <p class="card-text cardName"><strong>{{this.first_name}} {{this.last_name}}</strong></p>
                <p class="card-text">Username: {{this.username}}</p>
                <p class="card-text"><a href="mailto:{{this.email}}">Email: {{this.email}}</a></p>
                <p class="card-text">Located: {{this.location}}</p>
            </div>
        </div>
        {{/each}}

    </div>

</div>


{{!-- JS SCRIPTS --}}
{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
{{!-- <script src="/js/index.js"></script> --}}


{{!-- DRAFT OF DYNAMIC HBS CREATION --}}