{{!-- NAVBAR --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Study Buddy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#about">About <span class="sr-only">(current)</span></a>
            </li>
            {{#unless authenticated}}
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            {{/unless}}
            {{#if authenticated}}
            <li class="nav-item">
                <a class="nav-link" href="#">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/buddylist">Buddy List</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>


{{!-- TOP MATCHES SECTION --}}
<div class="matchContainer">

    <div class="text-center matchHeader">
        <h5>Based on your survey, here are your</h5>
        <h1>Top 3 Buddies!</h1>
    </div>

    {{!-- NEED A #EACH to render these cards, delete dummy code after first one --}}
    <div class="topMatches">
        <div class="card matchCard" style="width: 18rem;">
            <img src="https://cdn.networkrail.co.uk/wp-content/uploads/2016/12/Adriana-300x300.jpg" class="card-img-top"
                alt="Match Photo">

            <i id="favorite" class="far fa-star"></i>

            {{!-- NEED TO EDIT FAVORITE STAR TO GENERATE WITH ID KEY IN NEXT PHASE --}}
            <div class="card-body cardInfo">
                {{!-- <h5 class="card-title">Card title</h5> --}}
                <p class="card-text">Username: janedoe</p> {{!-- this.username  --}}
                <p class="card-text">Email: janedoe@mail.com</p> {{!-- this.email  --}}
                <p class="card-text">Located: Seattle</p> {{!-- this.location  --}}
            </div>
        </div>

        <div class="card matchCard" style="width: 18rem;">
            <img src="https://cdn.networkrail.co.uk/wp-content/uploads/2016/12/Adriana-300x300.jpg" class="card-img-top"
                alt="Match Photo">
            <div class="card-body cardInfo">
                {{!-- <h5 class="card-title">Card title</h5> --}}
                <p class="card-text">Username: janedoe</p> {{!-- this.username  --}}
                <p class="card-text">Email: janedoe@mail.com</p> {{!-- this.email  --}}
                <p class="card-text">Located: Seattle</p> {{!-- this.location  --}}
            </div>
        </div>

        <div class="card matchCard" style="width: 18rem;">
            <img src="https://cdn.networkrail.co.uk/wp-content/uploads/2016/12/Adriana-300x300.jpg" class="card-img-top"
                alt="Match Photo">
            <div class="card-body cardInfo">
                {{!-- <h5 class="card-title">Card title</h5> --}}
                <p class="card-text">Username: janedoe</p> {{!-- this.username  --}}
                <p class="card-text">Email: janedoe@mail.com</p> {{!-- this.email  --}}
                <p class="card-text">Located: Seattle</p> {{!-- this.location  --}}
            </div>
        </div>
    </div>

</div>


<div class="moreMatchesContainer">

    <div class="text-center matchHeader">
        <h5>Here are a few more buddies to see</h5>
    </div>

    <div class="moreMatches">
        <h5>more matches will go here</h5>

    </div>


</div>


{{!-- JS SCRIPTS --}}
{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
{{!-- <script src="/js/index.js"></script> --}}


{{!-- DRAFT OF DYNAMIC HBS CREATION --}}
{{#each matches}}
{{!-- person is dummy var for someone --}}
<div class="card matchCard" style="width: 18rem;">
    <img src="{{this.photo}}" class="card-img-top" alt="Match Photo">

    <i data-id="{{this.id}}" id="favorite" class="favoriteButton far fa-star"></i>

    {{!-- NEED TO EDIT FAVORITE STAR TO GENERATE WITH ID KEY IN NEXT PHASE --}}
    <div class="card-body cardInfo">
        {{!-- <h5 class="card-title">Card title</h5> --}}
        <p class="card-text">Username: {{this.username}}</p>
        <p class="card-text">Email: {{this.email}}</p> {{!-- this.email  --}}
        <p class="card-text">Located: {{this.location}}</p> {{!-- this.location  --}}
    </div>
</div>
{{/each}}